nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 100;
}

/* ------------------sticky navbar------------------ */
.blur-nav{
    backdrop-filter: blur(10px);
    background: #0000001a;
    transition: ease-in-out 0.5s;
}

nav h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.08em;
  margin-left: 10px;
}
nav h2 span{
    color: #C97A3A;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 0.885rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: linear-gradient(135deg, #000000, #b46423);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

nav ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #C97A3A;
  transition: width 0.3s ease;
}
nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}
.whatsapp {
  background-color: #25d366;
  color: #fff;
  padding: 10px 12px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s ease;
}

.whatsapp:hover {
  background-color: #1ebe5b;
}